<?xml version="1.0" encoding="utf-8"?>
<odoo>
<!--Tree view-->
		<record model="ir.ui.view" id="module_tree_view">
				<field name="name">module.module.tree</field>
				<field name="model">module.module</field>
				<field name="type">tree</field>
				<field name="arch" type="xml">
						<tree string="Modules">
								<field name="name"/>
								<field name="level_id"/>
								<field name="nbr_hour"/>
								<field name="active"  decoration-success="active == 'True'" decoration-danger="active == 'False'"/>
						</tree>
				</field>
		</record>

		<!-- module.module :view kanban -->
		<record model="ir.ui.view" id="module_kanban_view">
			<field name="name">module.module.Kanban</field>
			<field name="model">module.module</field>
			<field name="arch" type="xml">
				<kanban>
					<templates>
						<field name="name" />
						<field name="description" />
						<field name="code" />
						<t t-name="kanban-box">
							<div class="oe_kanban_global_click">
							<strong>
								<field name="name"/>
							</strong>										
									<div class="oe_kanban_details">
											<ul>
													<li t-if="record.description.raw_value"><field name="description"/></li>
											</ul>
									</div>
							</div>
						</t>
					</templates>
				</kanban>
			</field>
		</record>

		<!--search view-->
        <record id="module_search_view" model="ir.ui.view">
            <field name="name">module.module.search</field>
            <field name="model">module.module</field>
            <field name="arch" type="xml">
                <search string="search right here">
                    <group expand="0" string="Group By">
                        <filter string="Level" name="Level" context="{'group_by':'level_id'}"/>
                        <filter string="Teacher" name="Teacher" context="{'group_by':'teacher_id'}"/>
												<filter string="Status" name="Status" context="{'group_by':'active'}"/>
                    </group>
                </search>
            </field>
        </record>


    <!--form view-->
		<record model="ir.ui.view" id="module_form_view">
				<field name="name">module.module.form</field>
				<field name="model">module.module</field>
				<field name="type">form</field>
				<field name="arch" type="xml">
						<form string="Modules">
							<sheet>
								<div name="button_box" class="oe_button_box">
									<button class="oe_stat_button" type="object" name="action_open_registrations" icon="fa-regular fa-list">
										<field string="Registrations" name="nbr_registrations" widget="statinfo"/>
									</button>
									<button class="oe_stat_button" type="object" name="action_open_claims" icon="fa-exclamation">
										<field string="Claims" name="nbr_claims" widget="statinfo"/>
									</button>
								</div>
								<div class="oe_title">
											<label for="name"/>
											<h1>
													<field name="name" placeholder="Name"/>
											</h1>
									</div>
								<group>
									<group>
										
										<group>
											<field name="teacher_id"/>
											<field name="code"/>
											<field name="description"/>
										</group>
											
									</group>
									<group>
										<field name="level_id"/>
										<field name="nbr_hour"/>
									</group>
								</group>
								<notebook>
									<page string="Registrations">
										<field name="registrations">
											<tree create="false" edit="false" delete="false">
													<field name="name"/>
													<field name="start_date" />
													<field name="end_date"/>
											</tree>
										</field>			
									</page>
									<page string="Claims">
										<field name="claim_ids">
											<tree create="false" edit="false" delete="false">
													<field name="user_id"/>
													<field name="name" />
													<field name="start_date"/>
											</tree>
										</field>			
									</page>
								</notebook>
							</sheet>
						</form>
				</field>
		</record>

    <record id="module_action_view" model="ir.actions.act_window">
        <field name="name">Module</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">module.module</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>

</odoo>